.switch {
  display: flex;
  position: relative;
}

.switch__box {
  border-radius: 20px;
  border: 2px solid #7e7e7e;
  width: 56px;
  height: 28px;
  appearance: none;
}

.switch__slider {
  border-radius: 20px;
  width: 28px;
  height: 28px;
  background-color: #000;
  color: #fff;
  text-align: center;
  cursor: pointer;
  position: absolute;
}

.switch__slider-C {
  left: 1px;
}

.switch__slider-F {
  left: 27px;
}

.switch__active {
  font-size: 16px;
  color: #fff;
}

.switch__temp-C {
  position: absolute;
  top: -7px;
  left: 10px;
  color: #f3f3f3;
  font-family: "CabinetGrotesk-Bold";
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
}

.switch__temp-F {
  position: absolute;
  top: -7px;
  left: 38px;
  color: #f3f3f3;
  font-family: "CabinetGrotesk-Bold";
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
}
