.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "CabinetGrotesk-Bold";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.modal__title {
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  padding-bottom: 24px;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
  width: 16px;
  height: 16px;
  background-image: url(../../assets/modalCloseIcon.svg);
  background-color: transparent;
  background-repeat: none;
  background-size: contain;
  border: none;
}

.modal__close:hover {
  cursor: pointer;
}

.modal__content {
  background-color: #fff;
  position: relative;
  padding: 28px 28px 36px;
  max-width: 496px;
  width: 100%;
  box-sizing: border-box;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal__label {
  padding-bottom: 8px;
}

.modal__input {
  display: block;
  border: none;
  border-bottom: 1px solid;
  margin-bottom: 24px;
}

.modal__legend {
  padding-bottom: 12px;
}

.modal__radio-buttons {
  padding: 0;
  border: none;
  display: flex;
  flex-direction: column;
  padding-bottom: 32px;
}

.modal__radio-input:hover {
  cursor: pointer;
}

.modal__submit {
  background-color: #000;
  color: #fff;
  border-radius: 4px;
  padding: 8px 16px;
}

.modal__submit:hover {
  cursor: pointer;
  opacity: 60%;
}

.modal__submit_disabled {
  opacity: 30%;
}
