.card {
  width: 325px;
  height: 328px;
  position: relative;
  display: flex;
  justify-content: center;
}

.card:hover {
  cursor: pointer;
}

.card__name {
  top: 15px;
  margin: 0;
  border-radius: 4px;
  background-color: #fff;
  font-family: "CabinetGrotesk-Bold";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.6);
  padding: 2px 12px;
}

.card__image {
  width: 100%;
  border-radius: 20px;
  border: solid 1px rgba(0, 0, 0, 0.3);
}

.card__title-wrapper {
  display: flex;
  position: absolute;
  align-items: center;
  top: 15px;
}

.card__like {
  height: 15px;
  width: 18px;
  padding: 10px;
  display: flex;
  background: transparent url("../../assets/like-inactive.svg") center no-repeat;
  border: none;
  margin-left: 10px;
  transition: all 0.2s ease-in-out;
}

.card__like:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.card__like_active {
  height: 15px;
  width: 18px;
  padding: 10px;
  display: flex;
  background: transparent url("../../assets/like-active.svg") center no-repeat;
  border: none;
  margin-left: 10px;
  transition: all 0.2s ease-in-out;
}

.card__like_active:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.hidden {
  display: none;
}
