.sidebar {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-top: 63px;
}

.sidebar__avatar {
  width: 56px;
  height: 56px;
}

.sidebar__username {
  margin: 0;
  font-family: "CabinetGrotesk-Bold";
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  width: 157px;
}
